<app-header></app-header>

<div class="main-container">
  <div class="flex-row">
    <div class="colum-left-smal"></div>
    <div class="colum-left">
    <app-search (meatingSearchInputs)="searchRoomAvailability($event)"></app-search>
    </div>
  </div>
  <div class="flex-row" *ngIf="!isSearch">
    <div class="colum-left-smal"></div>
    <div class="colum-left">
      <app-createmeeting [meetingRooms]="meetingRooms" (bookMeetingRoom)="confirmBooking($event)" (findCurrentStatus)="checkMeetingstatus()"></app-createmeeting>
    </div>
  </div>
</div>

<div class="modal" *ngIf="toggleModel">
  <div class="modal-content">
    <div class="modla-header">Add Booking Details <span class="modal-close" (click)="toggleModel = false">x</span></div>
    <div class="modal-body">
      <div class="form-row">
        <div class="form-row">
          <div class="form-lbl">User Name<sup class="error-msg">*</sup>:</div>
          <div class="form-input"><input type="text" [(ngModel)]="createRequest.userName"></div>
        </div>
        <div class="form-lbl">Meeting Room</div>
        <div class="form-input">{{selectedRoom.name}}</div>
      </div>
      <div class="form-row">

        <div class="form-lbl">Date<sup class="error-msg">*</sup>:</div>
        <div class="form-input">
          <input type="date" [(ngModel)]="createRequest.date">

        </div>
      </div>
      <div class="form-row">

        <div class="form-lbl">Time<sup class="error-msg">*</sup>:</div>
        <div class="form-input">
          <input type="time" [(ngModel)]="createRequest.time.from">
          <span style="padding: 0px 10px;">To</span>
          <input type="time" [(ngModel)]="createRequest.time.to">
        </div>
      </div>
      <div class="form-row">

        <div class="form-lbl">Agenda<sup class="error-msg">*</sup>:</div>
        <div class="form-input"><textarea [(ngModel)]="createRequest.agenda"></textarea></div>
      </div>
     
      <div class="for-row error-msg" *ngIf="bookingError">
        {{bookingError}}
      </div>
    </div>
    <div class="modal-footer">
      <button class="confirm-btn search-btn" (click)="bookRoom()">Book</button>
    </div>
  </div>
</div>

<div class="alert-box-error" *ngIf="showAllertMessage">
  {{showAllertMessage}}
</div>

<div class="alert-box" *ngIf="showAllertMessageSuccess">
  {{showAllertMessageSuccess}}
</div>
